*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:linear-gradient(180deg,#020617,#08152f,#020611);
color:white;
overflow-x:hidden;
}

/* INICIO */

#inicio{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
gap:25px;
}

.foto-inicio{
width:220px;
height:220px;
border-radius:50%;
padding:7px;

background:linear-gradient(45deg,#b8860b,#ffe08a,#d4af37);

box-shadow:
0 0 20px rgba(212,175,55,.8),
0 0 50px rgba(212,175,55,.4);

animation:float 3s ease-in-out infinite;

display:flex;
justify-content:center;
align-items:center;
}

.foto-inicio img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
display:block;
}

@keyframes float{
50%{transform:translateY(-10px);}
}

#inicio h2{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-family:'Great Vibes',cursive;
font-size:clamp(19px,4vw,32px);
font-weight:400;
letter-spacing:1px;
color:#d4af37;
text-shadow:
0 0 10px rgba(212,175,55,.6),
0 0 25px rgba(212,175,55,.3);
}

#abrirBtn{
padding:16px 45px;
border:none;
border-radius:50px;
font-size:18px;
cursor:pointer;
background:linear-gradient(45deg,#d4af37,#ffef99);
color:#08152f;
font-weight:600;
box-shadow:0 0 20px rgba(212,175,55,.6);
transition:.3s;
}

#abrirBtn:hover{
transform:scale(1.05);
}

/* CARTA */

#carta{
display:none;
padding:30px 15px;
}

.card{
max-width:900px;
margin:auto;
padding:30px;
border-radius:30px;
background:rgba(6,18,45,.75);
backdrop-filter:blur(20px);
border:1px solid rgba(212,175,55,.3);
box-shadow:0 0 40px rgba(212,175,55,.15);
}

/* FOTO */

.hero{text-align:center;}

.photo-ring{
position:relative;
width:260px;
height:260px;
margin:auto;
border-radius:50%;
padding:8px;
background:linear-gradient(45deg,#c99a2e,#ffe08a,#c99a2e);
box-shadow:0 0 20px #c99a2e,0 0 40px #c99a2e,0 0 80px rgba(201,154,46,.5);
}

.photo-ring::before{
content:"";
position:absolute;
inset:-12px;
border-radius:50%;
border:2px solid rgba(255,215,0,.3);
animation:spin 15s linear infinite;
}

.photo-ring::after{
content:"";
position:absolute;
inset:-25px;
border-radius:50%;
border:1px solid rgba(255,215,0,.15);
animation:spinReverse 25s linear infinite;
}

@keyframes spin{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}

@keyframes spinReverse{
from{transform:rotate(360deg);}
to{transform:rotate(0deg);}
}

.photo-ring img{
width:100%;
height:100%;
object-fit:cover;
border-radius:50%;
}

.titulo{
margin-top:35px;
font-family:'Great Vibes',cursive;
font-size:clamp(35px,8vw,75px);
color:#d8b15a;
text-shadow:0 0 10px #d8b15a,0 0 25px #d8b15a,0 0 50px rgba(216,177,90,.6);
animation:glow 3s ease-in-out infinite;
white-space:nowrap;
}

@keyframes glow{
50%{
text-shadow:0 0 20px #d8b15a,0 0 40px #d8b15a,0 0 80px rgba(216,177,90,.7);
}
}

.diamond{
margin-top:10px;
font-size:18px;
color:#d4af37;
}

/* MUSICA */

.music-card{
margin-top:35px;
padding:18px 20px;
background:rgba(6,18,60,.65);
backdrop-filter:blur(25px);
border:1px solid rgba(216,177,90,.35);
box-shadow:inset 0 0 20px rgba(255,255,255,.03),0 0 30px rgba(216,177,90,.15);
border-radius:18px;
}

.music-top{
display:flex;
align-items:center;
gap:15px;
}

.music-top::before{
content:"♫";
width:42px;
height:42px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
color:#d4af37;
font-size:22px;
border:1px solid rgba(212,175,55,.5);
box-shadow:0 0 15px rgba(212,175,55,.5);
}

.music-top.playing::before{
animation:musicRotate 3s linear infinite;
}

@keyframes musicRotate{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}

.music-info{flex:1;}

.music-info h3{
font-size:12px;
letter-spacing:2px;
color:#d4af37;
}

.music-info p{
font-size:14px;
color:#9db4ff;
font-family:'Great Vibes',cursive;
}

#time{
font-size:12px;
color:#ddd;
}

/* PROGRESO */

.progress{
margin-top:22px;
height:8px;
border-radius:50px;
background:rgba(255,255,255,.08);
overflow:hidden;
}

.progress-bar{
height:100%;
width:0%;
border-radius:50px;
background:linear-gradient(90deg,#b8860b,#d4af37,#ffe48a,#fff3b0);
transition:width .15s linear;
}

/* BOTONES */

.controls{
margin-top:22px;
display:flex;
justify-content:center;
gap:35px;
}

.controls button{
border:none;
background:none;
color:#56729d;
font-size:18px;
cursor:pointer;
transition:.3s;
}

.controls button:hover{
color:#d4af37;
transform:scale(1.15);
}

.play{
width:60px;
height:60px;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
background:linear-gradient(145deg,#c99a2e,#f7dc82)!important;
color:#08152f!important;
font-size:30px;
font-weight:bold;
box-shadow:0 0 15px rgba(212,175,55,.5);
}

.play:hover{
transform:scale(1.1);
}

/* DEDICATORIA */

.section-title{
margin-top:40px;
text-align:center;
color:#d4af37;
}

.dedicatoria{
margin-top:20px;
padding:25px;
border-radius:20px;
line-height:2;
text-align:center;
background:rgba(255,255,255,.04);
border:1px solid rgba(212,175,55,.2);
}

.separator{
margin:35px 0;
text-align:center;
font-size:22px;
color:#d4af37;
}

.final-title{
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
font-family:'Great Vibes',cursive;
font-size:clamp(40px, 4vw, 32px);
text-align:center;
color:#d4af37;
margin-bottom:20px;
}

.dedicatoria-titulo{
text-align:center;
color:#d4af37;
font-weight:600;
font-size:clamp(9px,2.5vw,18px);
}

/* MAZO */

.photo-deck{
position:relative;
width:350px;
height:450px;
margin:40px auto;
touch-action:none;
}

.deck-photo{
position:absolute;
width:100%;
height:100%;
object-fit:cover;
border-radius:20px;
border:3px solid rgba(212,175,55,.6);
box-shadow:0 10px 30px rgba(0,0,0,.5);
transition:.4s ease;
}

.deck-photo:nth-child(1){z-index:4;transform:translateX(0);}
.deck-photo:nth-child(2){z-index:3;transform:translateX(25px);}
.deck-photo:nth-child(3){z-index:2;transform:translateX(50px);}
.deck-photo:nth-child(4){z-index:1;transform:translateX(75px);}

.texto-algerian{
font-family:'Algerian',serif;
font-size:32px;
}

/* 🔥 COPYRIGHT NUEVO */
.copyright{
text-align:center;
margin:30px 0;
font-size:13px;
color:#d4af37;
opacity:0.7;
letter-spacing:1px;
}

/* ANIMACIÓN DE APARICIÓN DE LA CARTA */
@keyframes zoomInCarta {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    60% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* clase que activa la animación */
.carta-animada {
    animation: zoomInCarta 0.8s ease-out;
}

/* CONTENEDOR DE EFECTOS */
.confeti-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: visible;
    z-index: 10;
}

/* PARTÍCULAS */
.confeti {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    animation: explotar 0.8s ease-out forwards;
}

@keyframes explotar {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 0;
    }
}

.mensaje-final{
    text-align:center;
    margin-top:30px;
    padding:25px;
    line-height:1.9;

    background:rgba(255,255,255,.05);
    border:1px solid rgba(212,175,55,.2);
    border-radius:15px;

    box-shadow:0 0 20px rgba(212,175,55,.1);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
